.add-book-form {
    padding: 20px;

    mat-card-title {
        margin-bottom: 20px;
    }

    mat-form-field {
        width: 100%;
    }

    button {
        background-color: #fff;
        border-radius: 25px;
        color: green;
        cursor: pointer;
        border: 1px solid #9f9595;
        padding: 7px 15px;
    }

    .mat-mdc-raised-button:disabled {
        background-color: rgb(189, 189, 189);
    }
}