<mat-card class="add-book-form">
    <mat-card-title>Add Book</mat-card-title>
    <mat-card-content>
      <form [formGroup]="bookForm">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required />
          <mat-error *ngIf="bookForm.get('title')?.invalid">
            Title is required.
          </mat-error>
        </mat-form-field>

        <br>
  
        <mat-form-field appearance="outline">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="imageUrl" url />
          <mat-error *ngIf="bookForm.get('imageUrl')?.invalid">
            Please enter a valid URL.
          </mat-error>
        </mat-form-field>

        <br>
  
        <mat-form-field appearance="outline">
          <mat-label>Buy Link</mat-label>
          <input matInput formControlName="purchaseLink" url />
          <mat-error *ngIf="bookForm.get('imageUrl')?.invalid">
            Please enter a valid URL.
          </mat-error>
        </mat-form-field>

        <br>
  
        <mat-form-field appearance="outline">
          <mat-label>Published year</mat-label>
          <input type="number" matInput formControlName="PublishDate" required maxlength="4" minlength="4" />
          <mat-error *ngIf="bookForm.get('PublishDate')?.invalid">
            Year is required.
          </mat-error>
        </mat-form-field>       

        <br>
  
        <button mat-raised-button color="primary" [disabled]="!bookForm.valid" (click)="onSubmit()">{{buttonText}}</button>
      </form>
    </mat-card-content>
  </mat-card>
  