.author-card {
    margin: 0px 10px 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
    padding: 15px 5px;
    border-radius: 0px 0px 20px 20px;

    .name {
        font-weight: 600;
    }

    .birth-place {
        margin-top: 20px;
    }
}